body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar {
  display: none;
  }
.front-intro-page{
    width: 100vw;
    height: 100vh;
    background-image: url("backDALK.png");
   
}

.title{
    text-align: center;
    color: white;
    padding-top: 34vh;
    font-size: 90px;
}
@keyframes bounce { 
    0% { transform: translateY(0); }
    100% { transform: translateY(-30px); }
  }
#down-arrow{
    height: 100px;
 width: auto;
 margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 34vh;
  animation: bounce 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  
}
.instructions{
    height: auto;
    padding: 30px;
    background-color: #e4e4e4;
}
.instructions-size{
  max-width: 1100px;
  margin: 0 auto;
}
.documentation{
    height: auto;
    padding: 30px;
}
.contact-size{
  max-width: 1100px;
  margin: 0 auto;

}
.documentation-size{
  max-width: 1100px;
  margin: 0 auto;
}
.bold{
    font-weight: bold;
}
.left{
    float: left;
    

}
.right{
    float: right
}
.row-one{
    background-color: #e4e4e4;
    
    padding: 16px;
    max-width: 1100px;
    
}

.row-two{
  max-width: 1100px;
    padding: 16px;
}
.description-of-parameter{
    padding-top: 15px;
}
img{
    max-width: 100%;
    height: auto;
}
.contact{
  background-color: white;
}






.contact-grid{
  display:grid;
  grid-template-columns: 1fr 1fr;

  
}
#contact-title{
  
  margin-top: 23px;
}
.ls{
  grid-column: 1/2;

}
.rs{
  grid-column: 2/3;
  margin-left: 21px;
}
input{
  width: 100%;
  margin-top: 10px;

}
textarea{
  width: 100%;
  height: 100%;
}
label{
  margin-top: 15px
}
#input-button{
  margin-top: 20px;
  width: 70%;
  height: 39px;
  border:none;
  background-color: rgb(202, 202, 202);
}




* {
    box-sizing: border-box;
  }
  

  
  .nav {
    height: 50px;
    width: 100vw;
    background-color: #14093d;
    position: fixed;
    z-index: 1;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  

  .nav-btn{
   margin-top: -14px;
  }
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 16px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
    
  }
 p{
   max-width: 1000px
 }
 .breakerr{
   height: 3px;
   background-color: #14093d;
 }
  @media (max-width:900px) {
    .title{
        font-size: 60px;
    }






    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #0a041df5;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }


.site-footer{
  margin-top: 39px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #eee;
  
}
.container{
  text-align: center;

}


@media (max-width:767px)
{
  .contact-grid{
    display: inline;
  }
  .rs{
    margin-left: 0px;
    
  }
  .email-subject{
    max-height: 100px;
  }
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}









































