body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.front-intro-page{
    width: 100vw;
    height: 100vh;
    background-image: url("backDALK.png");
   
}
.title{
    text-align: center;
    color: white;
    padding-top: 34vh;
    font-size: 90px;
}
@keyframes bounce { 
    0% { transform: translateY(0); }
    100% { transform: translateY(-30px); }
  }
#down-arrow{
    height: 100px;
 width: auto;
 margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 34vh;
  animation: bounce 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  
}
.instructions{
    height: auto;
    padding: 30px;
    background-color: #e4e4e4;
}
.documentation{
    height: auto;
    padding: 30px;
}
.bold{
    font-weight: bold;
}
.left{
    float: left;
    

}
.right{
    float: right
}
.row-one{
    background-color: #e4e4e4;
    
    padding: 16px;
    
}

.row-two{
   
    padding: 16px;
}
.description-of-parameter{
    padding-top: 15px;
}
















































* {
    box-sizing: border-box;
  }
  

  .nav {
      z-index: 1;
    height: 50px;
    width: 100%;
    background-color: #000000e7;
    position: fixed;
    
  
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: left;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  